<%= form_for(@newsblog) do |f| %>
  <% if @newsblog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsblog.errors.count, "error") %> prohibited this newsblog from being saved:</h2>

      <ul>
      <% @newsblog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :broadcast_id %><br />
    <%= f.text_field :broadcast_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
