<p>
  <b><%=I18n.t('email')%>:</b>  <%=h user.email %>
</p>
<p>
  <b><%=I18n.t('phone')%>:</b>  <%=h user.phone %>
</p>
<p>
  <b><%=I18n.t('grad-year')%>:</b>  <%=h user.grad_year %>
</p>
<p>
  <b><%=I18n.t('jobs')%>:</b>  <%=h user.jobs %>
</p>
