<h1><%=I18n.t('users.accounts')%></h1>

 <div class='main-input-area'>
     <%=  render :partial => 'users_list', :object => @users %>
 </div>

 <div class='sub-input-area'>
   <%= form_tag search_users_path, :title=>I18n.t('users.search-accounts'), :method=>:get do -%>
     <div class='checkboxes'>
       <%= checkbox_search_fields %>
     </div>
     <div id='search-submit'>
       <%= submit_tag I18n.t('users.search') %>
       <%= text_field_tag :q,  nil, :title=>I18n.t('users.search-accounts') %>
       <img id='surname-spinner' src='/images/spinner.gif' style='display:none;' alt=<%=I18n.t('please-wait')%>/>
       <div class='auto_complete' id='user_surname_auto_complete'>
       </div>
       <script type='text/javascript'>
         //<![CDATA[
            
         // Declared in application.js
         q_auto_completer =
           new Ajax.UsersAutocompleter('q',
                                       'user_surname_auto_complete',
                                       '/users/search_dropdown?page=<%= @users.current_page %>',
                                       {updateElement:processUpdate, // cf application.js
                                        frequency:0.5,
                                        indicator:'surname-spinner',
                                        method:'get'})
         //]]>
       </script>
       <!-- The auto_complete plugin would normally be used to generate above call to
            the Ajax.autocompleter. However, I needed to extend the Ajax.Autocompleter to
            override its hide method (see application.js) so that the dropdown list does not disappear if
            an image link is clicked but is hidden if the text is clicked instead. I have
            also provided my own processUpdate method to change the default behaviour on
            selection in order to place the appropriate text in the text field when the user
            clicks on an item in the dropdown list -->
       <!--%= auto_complete_field :q,
                               :update => 'user_surname_auto_complete',
                               :url => {:action=>'search_dropdown'},
                               :frequency => 0.5,
                               :method => :get,
                               :after_update_element=>'processUpdate',
                               :indicator => 'surname-spinner'%>
       -->
       
     </div>
   <% end -%>
   
   <div id="user-detail">
   </div>
  
 </div>


 

 


 

