<h1>New broadcast</h1>

<%= form_for(@broadcast) do |f| %>
  <% if @broadcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@broadcast.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @broadcast.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag 'page', @current_page %>

  <div id="broadcast-area" class="main-input-area">
		<p><b>Title:</b><br/>
			<%= f.text_area :title, :cols => "100%", :rows=>"1", 
                      :title => "Broadcast Title Goes Here",
                      :name => "broadcast[title]" %>
			<br />
			(Not used when Twitter broadcast enabled)
		</p>
		<br/>
    <p><b>Content:</b><br/>
      <%= f.text_area :content, :cols => "100%", :rows=>"10", 
                      :title => "Broadcast text goes here",
                      :onkeyup=>"twitterCharCountEffect('broadcast-area',
                                                        'broadcast[content]',
                                                        'twitter-char-count');"%>
    </p>
    <div id="url-part">
      <%= link_to_function("Shortens URL", "",
        :id=>"split-arrow",
        :title=>"Press this to shorten the URL",
				:onClick => "alert('test');") %>
      <%= text_field_tag :shorten_url,  nil,
        :title=>"Enter URL that you wish to shorten",
        :size=> "50%" %>

    </div>
    <br />
    <div id="">
      <%= f.submit 'Broadcast', :confirm => 'Do you really want to broadcast?' %> |
      <%= link_to 'Back', broadcasts_path(:page => @current_page) %>
    </div>

  </div>

  <div class="sub-input-area">
    <div class="checkboxes">
      <p>
		    <label for="type">Who to broadcast to?:</label>
				<br />
       <%=  radio_button_tag 'type', Broadcast::NEWSBLOG_S, true, :title=>"Select to broadcast general news" %>
        <%=  label_tag 'feeds_alumni_email_alumni', 'General news' %>
      </p>
      <p>
        <%=  radio_button_tag 'type', Broadcast::JOB_S, false, :title=>"Select to broadcast jobs news" %>
        <%=  label_tag 'feeds_alumni_email_alumni-jobs', 'Jobs news' %>
      </p> 
      <p>
        <%=  check_box_tag 'feeds[email]', '1', true, :title => "Select to choose Email feed", :onClick => "checkCheckBoxes();" %>
        <%=  label_tag 'email', 'Email' %>
      </p>
      <p>
        <%=  check_box_tag 'feeds[facebook]', '1', false, :title => "Facebook feed is not yet implmented", :disabled => true, :onClick => "checkCheckBoxes()"%>
        <%=  label_tag 'facebook', 'Facebook' %>
      </p>
      <p>
        <%=  check_box_tag 'feeds[blog]', '1', true, :title => "Select to choose Blog Post", :onClick => "checkCheckBoxes();" %>
        <%=  label_tag 'Blog (includes RSS/ATOM)', 'Blog (includes RSS/ATOM)' %>
      </p>
    
      <p>
        <%=  check_box_tag 'feeds[twitter]', '1', true,
          :title => "Select to choose Twitter feed",
          :onClick => "toogleEditorMode('broadcast-area', 'broadcast[content]', 'twitter-char-count'); checkCheckBoxes();
                      $('url-part').toggle();
                      $('twitter-char-count').toggle();"%>
        <%=  label_tag 'twitter', 'Twitter' %>
      </p>

      <%= label_tag 'twitter', '140', :id=>'twitter-char-count', :title=>'Twitter character remaining count' %>
    </div>
  </div>


<% end %>

